li {
	list-style-type: none;
	
}

a {
	text-decoration: none;
	color: var(--bg-color);
}

button {
	background-color: transparent;
	border: none;
}

p {
	font-size: var(--font-size--2x);
	line-height: 1.5rem;
	margin: 1rem 0 2rem 0;
	max-width: 500px;
}

h2 {
	font-size: var(--font-size--5x);
	text-transform: capitalize;
}

h3 {
	font-size: var(--font-size--3x);
}

.body {
	max-width: 1920px;
	margin: auto;
	color: var(--text-color);
	background-color: var(--bg-color);
}

.main {
	display: flex;
	flex-direction: column;
	gap: 12rem;
	margin-top: 6rem;
	padding: 1rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cta__button {
	width: fit-content;
	font-size: var(--font-size--2x);
	background-color: var(--primary-color);
	border: none;
	color: black;
	border-radius: var(--border-radius);
	padding: var(--cta-padding);
	cursor: pointer;
	box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.44);
}

.dark-mode {
	--text-color: #FCFAF4;
	--bg-color: #130E01;
	}