.body {
	max-width: 1920px;
	margin: auto;
	color: var(--text-color-light);
	background-color: var(--bg-color-light);
}

li {
	list-style-type: none;
	
}

a {
	text-decoration: none;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 12rem;
	margin-top: 6rem;
}

/* Dark Mode */
.dark-mode {
	color: var(--text-color-dark);
	background-color: var(--bg-color-dark);
}

/* Desktop Styles */
@media (min-width: 768px) {
	body {
		font-size: var(--font-size-desktop);
	}
}

/* Mobile Styles */
@media (max-width: 767px) {
	body {
		font-size: var(--font-size-mobile);
	}
}