.about__section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 6rem;
	text-align: center;
}

.about__image {
	width: 100%;
	max-width: 450px;
	border-radius: 5px;
}

.about__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 992px) {
	.about__section {
		flex-direction: row;
		text-align: start;
	}

	.image__container {
		order: 2;
	}
	
	.about__container {
		order: 1;
	}
}