.hero__section {
	text-align: center;
}

.hero__intro {
	font-size: var(--font-size--1x);
	font-family: var(--font-family-mono);
	margin-bottom: 1rem;
}

.hero__heading {
	font-size: var(--font-size--5x);
	line-height: 1;
}

@media screen and (min-width: 576px) {
	.hero__intro {
		font-size: var(--font-size--2x);
	}
	
	.hero__heading {
		font-size: var(--font-size--8x);
	}
}

@media screen and (min-width: 992px) {
	.hero__heading {
		font-size: var(--font-size--10x);
	}
}