.container {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 1.5rem;
}

.hero__intro {
	font-size: var(--font-size--1x);
	font-family: var(--font-family-mono);
}

.hero__heading {
	font-size: var(--font-size--5x);
	line-height: 1;
}

.paragraph {
	font-size: var(--font-size--2x);
	margin: 1rem 0 2rem 0;
}

.cta__button {
	font-size: var(--font-size--2x);
	background-color: var(--primary-color);
	border: none;
	border-radius: var(--border-radius);
	padding: var(--cta-padding);
	cursor: pointer;
	box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.44);
}

/* .cta__button:hover {
	transform: scale(1.05);
} */