#logo {
	display: flex;
	margin-bottom: -4px;
	padding: .5rem 0;
}

#linkedin {
	height: 20px;
	width: 20px;
	margin-top: 1px;
}

#linkedin img {
	height: 100%;
}

#github {
	height: 22px;
	width: 22px;
}

#github img {
	height: 100%;
}

#resume {
	padding: 1rem 0;
	width: 100%;
	text-align: center;
	order: 2;
}

#resume:hover {
	background-color: var(--primary-color);
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	background-color: var(--bg-color-dark);
	padding: 1rem;
	margin: 1rem;
	border-radius: 5px;
}

.nav a {
	color: var(--text-color-dark);
}

.nav__container {
	display: none;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--accent-color);
	border-radius: 5px;
	width: 100%;
	padding-bottom: 1rem;
}

.nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	order: 1;
}

.nav__list li {
	width: 100%;
}

.nav__list a {
	display: block;
	width: 100%;
	padding: 1rem 0;
}

.nav__list a:hover {
	background-color: var(--primary-color);
}

.nav__list a:first-child:hover {
	border-radius: 5px;
}

.nav__social {
	display: flex;
	justify-content: center;
	gap: 2rem;
	order: 3;
	padding-top: 1rem;
}

.nav__menu-button {
	display: block;
	background-color: transparent;
	border: none;
	padding: .2rem;
	cursor: pointer;
}

@media screen and (min-width: 576px) {
	#resume {
		padding: 0;
		order: 3;
		color: var(--primary-color);
	}
	
	#resume:hover {
		background-color: transparent;
		color: var(--text-color-dark);
	}

	.nav__container {
		display: flex !important;
		flex-direction: row;
		position: relative;
		width: auto;
		background-color: transparent;
		padding-bottom: 0;
		gap: 2rem;
	}

	.nav__list {
		flex-direction: row;
		gap: 1rem;
	}

	.nav__list a {
		padding: 0;
	}

	.nav__list a:hover {
		background-color: transparent;
		color: var(--primary-color);
	}

	.nav__social {
		padding: 0;
		gap: 1rem;
		order: 2;
	}

	.nav__menu-button {
		display: none;
	}
}