.projects__container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 6rem;
	margin-top: 2rem;
}

.projects__container div {
	display: flex;
	flex-direction: column;
	border-bottom: solid 1px black;
	padding-bottom: 2rem;
}

.projects__container img {
	width: 100%;
	margin-bottom: 1rem;
}